/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(225, 228, 213) ;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Mukta';
    color: hwb(0 7% 4%) ;
    text-align: center;
    font-weight: 20%;
}

h2 {
    color: hwb(226 2% 10%) ;
    font-size: 1.7em;
}

p {
    font-size: 18px;
}

section {
    margin-bottom: 20px;
}
span{
    font-family: "Anton";
    font-size: 2rem;
    color: #16cb28;
}

/* Image Styling */
img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    height: auto;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #ddd;
}

